.login-sign-up-page{
    
    background-color: rgba(255, 115, 0, 0.096);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.form input,textarea{
    height: 50px;
    border: 1px solid rgba(128, 128, 128, 0.678);
    padding: 10px;
    outline: none;
    border-radius: 10px;

}
.form button{
    height: 50px;
    background-color: rgb(233, 3, 14);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.signup{
    width: 30%;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signup h1{
    margin-bottom: 20px;
    text-align: center;
}
.signup p span{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.accountpage{
    width: 70%;
    border-radius: 10px;
}
.accountcreateForm{
    display: flex;
    flex-direction: row;
}
.userAddressInput{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.userNameEmailInput{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.label{
    font-weight: 800;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.cont-btn{
    margin-top: 35px;
}
.accountpage textarea{
    height: 135px;
    font-size: 13px;
}
.login-footer{
    font-size: 12px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
@media screen and (max-width : 679px){
    .signup{
        width: 80%;
        height: auto;
    }
    .accountcreateForm{
        flex-direction: column;
    }
}